:root {
	--background-colour: #f1faee;
	--colour-attention: #e63946;
	--colour-primary: #457b9d;
	--colour-secondary: #a8dadc;
	--colour-dark: #1d3557;
}

body {
	background-color: var(--background-colour);
}
