:root {
	--colour-background-primary: #f1faee;
	--colour-text-alert: #e63946;
	--colour-text-light: #a8dadc;
	--colour-text-normal: #457b9d;
	--colour-text-dark: #1d3557;
}

.custom-scroll-animation-hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translate(-100%);
	transition: all 1s;
}

.custom-scroll-animation-show {
	opacity: 1;
	filter: blur(0);
	transform: translate(0);
}
